:root {
	--normal-background: #323538;
	--normal-color: #dfe0e1;
	--accent-color: #3465aa;
	--accent-alternative: #0551bb;
	--accent-contrast: #ffffff;
	--tooltip-background: #0d47a1;
	--tooltip-color: #fefefe;
	--tabHolder-background: #141414;
	--tab-background: #454545;
	--tab-hover: #2f363d;
	--input-background: #696c6e;
	--input-color: #e3e3e4;
	--focus-border: #f57c00;
	--disabled-input: #555555;
	--even-row-background: #2a2a2a;
	--odd-row-background: #323538;
	--selected-row: #626568;
	--highlight-row: #616161;
	--highlight-color: #ecf01b;
	--error-color: #960303;
	--difference-color: #101010;
	--difference-background: #bbdefb;
	--stats-text: #fefefe;
	--stats-fill: #0d47a1;
}

body {
	background: var(--normal-background);
	color: var(--normal-color);
	fill: var(--normal-color);
	stroke: var(--normal-color);
}

.hdivider {
	width: 2px;
	background: var(--accent-color);
	height: 100%;
	position: relative;
	cursor: col-resize;
	display: block;
	z-index: 5;
}

.vdivider {
	width: 100%;
	height: 2px;
	background: var(--accent-color);
	position: relative;
	cursor: row-resize;
	display: block;
	z-index: 5;
}

.wait {
	cursor: wait !important;
}

header {
	background: var(--accent-color);
	color: var(--accent-contrast);
	border-bottom: solid 2px var(--accent-color);
}

footer {
	background: var(--accent-color);
	color: var(--accent-contrast);
	border-top: 2px solid var(--accent-color);
}

a {
	color: var(--accent-color);
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}

.status {
	position: absolute;
	top: 200px;
	left: calc(40% - 100px);
	width: 200px;
	margin: auto;
	background-color: var(--tooltip-background);
	color: var(--tooltip-color);
	padding: 20px;
	border: 1px solid var(--tooltip-color);
}

/* tables */

table {
	width: 100%;
	border-collapse: collapse;
}

thead {
	height: 24px;
	background: var(--accent-color);
	color: var(--accent-contrast);
}

thead tr {
	background: inherit !important;
	color: inherit !important;
}

tbody {
	overflow-y: scroll;
	overflow-x: scroll;
}

td {
	padding: 4px;
	vertical-align: top;
	font-size: medium;
}

td.list {
	vertical-align: middle;
	white-space: nowrap;
}

td.editing {
	background-color: var(--normal-background) !important;
}

td.fixed {
	text-align: center;
	vertical-align: middle;
	color: var(--normal-color);
	cursor: default !important;
}

td.initial {
	border-right: 3px solid var(--normal-background);
}

td.translated {
	border-right: 3px solid #ff9800;
}

td.reviewed {
	border-right: 3px solid #ff9800;
}

td.final {
	border-right: 3px solid #009688;
}

tr.selected {
	background-color: var(--selected-row) !important;
}

tr.discover:hover {
	background-color: var(--highlight-row) !important;
}

th {
	position: sticky;
	top: 0;
	z-index: 5;
	font-weight: lighter;
	background: var(--accent-color);
	color: var(--accent-contrast);
}

.stripes tr:nth-child(odd) {
	background-color: var(--odd-row-background);
}

.stripes tr:nth-child(even) {
	background-color: var(--even-row-background);
}

.currentRow {
	border-top: 1px solid var(--focus-border);
	border-bottom: 1px solid var(--focus-border);
}

.fixed {
	width: 1px;
	text-align: center;
}

.highlighted {
	color: var(--highlight-color);
	background-color: var(--accent-color);
	padding-left: 2px;
	padding-right: 2px;
}

.difference {
	color: var(--difference-color);
	background-color: var(--difference-background);
	padding-left: 2px;
	padding-right: 2px;
}

.right {
	float: right;
}

.hidden {
	display: none;
}

.center {
	text-align: center;
}

.middle {
	vertical-align: middle;
}

/* inputs */

input {
	background-color: var(--input-background);
	color: var(--input-color);
	border: 1px solid var(--input-color);
	margin-top: 3px;
	height: 1.4rem;
	font-size: 1rem;
}

.table_input {
	width: calc(100% - 10px);
}

input:focus {
	outline: none !important;
	border: 1px solid var(--focus-border);
}

input:disabled {
	background-color: var(--disabled-input);
}

input[type=number] {
	font-size: 0.8em;
	width: 40px;
	margin: 0px;
	padding: 0px;
	padding-left: 2px;
}

select {
	background-color: var(--input-background);
	color: var(--input-color);
	border: 1px solid var(--input-color);
	font-size: 1em;
	height: 1.6em;
	border-radius: 0px;
}

select:focus {
	outline: none !important;
	border: 1px solid var(--focus-border);
}

option {
	font-size: 1em;
	background-color: var(--input-background) !important;
	color: var(--input-color);
}

textarea {
	padding: 0px;
	font-size: medium;
	background-color: var(--input-background);
	color: var(--input-color);
	border: 1px solid var(--input-color);
	outline: none;
}

textarea:focus {
	outline: none !important;
	border: 1px solid var(--focus-border);
}

button {
	color: var(--accent-contrast);
	background: var(--accent-color);
	border: 1px solid var(--accent-color);
	border-radius: 2px;
	font-size: 1em;
	text-align: center;
	margin: 3px;
	padding-left: 4px;
	padding-right: 4px;
	white-space: nowrap;
}

button:focus {
	outline: none !important;
}

button:hover {
	background: var(--accent-alternative);
	border: 1px solid var(--accent-alternative);
}

.row {
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 0px;
}

label {
	padding-left: 4px;
	padding-right: 4px;
}

.column {
	display: flex;
	flex-direction: column;
}

.fill_width {
	width: 100%;
}

.noWrap {
	white-space: nowrap;
}

.paddedArea {
	padding: 4px;
	margin: 4px;
}

.optionBox {
	border: 1px solid grey;
	border-radius: 4px;
}

.buttonArea {
	display: flex;
	flex-direction: row;
	padding: 10px;
	padding-left: 16px;
	padding-right: 16px;
	justify-content: flex-end;
}

.inputArea {
	display: flex;
	flex-direction: row;
	vertical-align: middle;
}

/* toolbars */

.toolbar {
	display: flex;
	flex-direction: row;
	background: var(--tab-background);
	color: var(--normal-color);
	fill: var(--accent-color);
	stroke: var(--accent-color);
	padding-bottom: 0px;
	padding-top: 0px;
	padding-left: 4px;
	padding-right: 4px;
	justify-content: flex-start;
	border-top: 1px solid var(--normal-background);
}

.toolbar button {
	padding: 5px;
	background: inherit;
	border: none;
	outline: none;
	color: inherit;
	fill: inherit;
	stroke: inherit;
	text-align: left;
	font-size: 0.8em;
	vertical-align: middle;
	box-shadow: none;
}

.toolbar button img {
	padding: 4px;
}

.toolbar a {
	color: inherit;
	fill: inherit;
	stroke: inherit;
	margin-left: 2px;
	margin-right: 2px;
}

.toolbar a img {
	padding-top: 4px;
}

.toolbar a svg {
	padding-top: 4px;
	color: var(--normal-color);
	fill: var(--normal-color);
	stroke: var(--normal-color);
}

.toolbar a:hover {
	background-color: var(--input-background);
	text-decoration: none !important;
}

svg {
	fill: var(--normal-color);
	stroke: var(--normal-color);
	stroke-width: 0.3;
}

/* tabs */

.tabHolder {
	display: flex;
	flex-flow: row;
	color: var(--normal-color);
	background: var(--tabHolder-background);
	padding: 2px 0px 0px 8px;
}

.tab {
	overflow: hidden;
	background: var(--tab-background);
	color: var(--normal-color);
	fill: var(--accent-color);
	stroke: var(--accent-color);
	padding-top: 4px;
	padding-left: 6px;
	padding-right: 6px;
	margin: 0px;
	margin-right: 1px !important;
	box-shadow: none !important;
	border-bottom: 3px solid var(--tab-background);
	text-decoration: none !important;
}

.selectedTab {
	border-bottom: 3px solid var(--accent-color);
}

.tab:hover {
	background: var(--tab-hover);
	border-bottom: 3px solid var(--tab-hover);
}

.selectedTab:hover {
	border-bottom: 3px solid var(--accent-color) !important;
}

.tab a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

.tab a:hover {
	background: var(--tab-hover);
}

.tabContent {
	display: block;
}

.hiddenTab {
	display: none;
}

.panel {
	z-index: 5;
	display: block;
	overflow-y: scroll;
}

.titlepanel {
	margin: 0px;
	padding-top: 0px;
	padding-left: 4px;
	background: var(--accent-color);
	color: var(--accent-contrast);
	border-bottom: 1px solid var(--normal-background);
	white-space: nowrap;
	overflow-x: hidden;
}

.titlepanel a:hover {
	background: var(--accent-alternative);
}

.panelcontent {
	z-index: -20;
	display: block;
	width: 100%;
	overflow-y: auto;
	overflow-x: auto;
}

.panelcontent table {
	z-index: -30;
}

/* tooltips */

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	background-color: var(--tooltip-background);
	color: var(--tooltip-color);
	visibility: hidden;
	padding: 4px;
	border-radius: 2px;
	white-space: nowrap;
	/* Position the tooltip */
	position: absolute;
	z-index: 100;
}

.topTooltip {
	bottom: 120%;
	left: 20px;
}

.bottomTooltip {
	top: 120%;
	left: 20px;
}

.bottomCenterTooltip {
	top: 120%;
	left: -80px;
}

.bottomRightTooltip {
	top: 120%;
	right: 20px;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

.highlight {
	color: var(--highlight-color);
}

.active svg {
	stroke: var(--focus-border) !important;
	fill: var(--focus-border) !important;
}

.bordered {
	border: 1px solid var(--normal-color) !important;
}

.error {
	color: var(--error-color) !important;
}

.preserve {
	white-space: pre-wrap;
}

.divContainer {
	/* Any container that needs to scroll content */
	width: 100%;
	height: 100%;
	overflow: auto;
}

div.stats {
	white-space: nowrap;
	display: flex;
	flex-direction: row;
}

span.stats {
	margin-top: 4px;
	padding-left: 4px;
	padding-right: 4px;
}

svg.stats {
	margin-top: 4px;
	cursor: default;
}

.statsRect {
	stroke-width: 1;
	stroke: var(--normal-color);
	fill: none;
}

.statsFiller {
	stroke: none;
	fill: var(--stats-fill);
}

.statsText {
	dominant-baseline: middle;
	text-anchor: middle;
	fill: var(--stats-text);
}