:root {
	--normal-background: #232323;
	--normal-color: #ffffff;
	
	--medium-background: #3b3b3b;
	--medium-color: #fefefe;

	--accent-color: #3465aa;
	--accent-alternative: #0551bb;
	--accent-contrast: #ffffff;

	--toolbar-background: #454545;
	--toolbar-color: #fefefe;

	--tooltip-background: #3465aa;
	--tooltip-color: #fefefe;

	--tabHolder-background: #141414;
	--tab-background: #454545;
	--tab-color: #d1d5d4;
	--tab-highlight: #3966d6;
	--tab-hover: #2f363d;

	--input-background: #313131;
	--input-color: #fefefe;
	--disabled-input: #555555;

	--even-row-background: #2a2a2a;
	--odd-row-background: #313131;

	--highlight-color: #ecf01b;
	--error-color: #960303;
}

body {
	background: var(--normal-background);
	color: var(--normal-color);
	fill: var(--normal-color);
	stroke: var(--normal-color);
}

.hdivider {
	background: var(--accent-color);
	width: 2px;
	height: 100%;
	position: relative;
	cursor: col-resize;
	display: block;
}

.vdivider {
	background: var(--accent-color);
	width: 100%;
	height: 2px;
	position: relative;
	cursor: row-resize;
	display: block;
}

.wait {
	cursor: wait !important;
}

header {
	background: var(--medium-background);
	color: var(--medium-color);
	border-bottom: solid 2px var(--accent-color);
}

footer {
	background: var(--medium-background);
	color: var(--medium-color);
	border-top: 2px solid var(--accent-color);
}

a {
	color: var( --accent-color);
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}

.status {
	position: absolute;
	top: 200px;
	left: calc(40% - 100px);
	width: 200px;
	margin: auto;
	background-color: var(--tooltip-background);
	color: var(--tooltip-color);
	padding: 20px;
	border: 1px solid var(--tooltip-color);
}

/* tables */

table {
	width: 100%;
	border-collapse: collapse;
}

thead {
	height: 24px;
	background-color: var(--medium-background);
	color: var(--medium-color);
}

thead tr {
	background: inherit !important;
	color: inherit !important;
}

tbody {
	overflow-y: scroll;
	overflow-x: scroll;
}

td {
	padding: 4px;
	vertical-align: top;
	font-size: medium;
}

td.fixed {
	text-align: center;
	vertical-align: middle;
	color: var(--normal-color);
	cursor: default !important;
}

th {
	position: sticky;
	top: 0;
	z-index: 5;
	font-weight: lighter;
	background-color: var(--medium-background);
	color: var(--medium-color);
}

.stripes tr:nth-child(odd) {
	background-color: var(--odd-row-background) !important;
}

.stripes tr:nth-child(even) {
	background-color: var(--even-row-background) !important;
}

.fixed {
	width: 1px;
	text-align: center;
}

.highlighted {
	color: var(--highlight-color);
	background: var(--medium-background);
}

.right {
	float: right;
}

.hidden {
	display: none;
}

.center {
	text-align: center;
}

.middle {
	vertical-align: middle;
}

/* inputs */

input {
	background-color: var(--input-background);
	color: var(--input-color);
	border: 1px solid var(--input-color);
	margin-top: 3px;
	height: 1.4rem;
	font-size: 1rem;
}

input:disabled {
	background-color: var(--disabled-input);
}

input[type=text]:focus {
	border: 1px solid transparent;
}

input[type=number]:focus {
	border: 1px solid transparent;
}

input[type=number] {
	font-size: 0.8em;
	width: 40px;
	margin: 0px;
	padding: 0px;
	padding-left: 2px;
}

input[type=checkbox] {
	position: relative;
}

input[type=checkbox]:before {
	content: "";
	display: block;
	position: absolute;
	width: 12px;
	height: 12px;
	top: -2px;
	left: 0;
}

input[type=checkbox]:checked:after {
	content: "";
	display: block;
	width: 4px;
	height: 8px;
	border-width: 0 1px 1px 0;
	transform: rotate(45deg);
	position: absolute;
	top: 0px;
	left: 5px;
}

select {
	background-color: var(--input-background);
	color: var(--input-color);
	border: 1px solid var(--input-color);
	font-size: 1em;
	height: 1.6em;
	border-radius: 0px;
}

option {
	font-size: 1em;
	background-color: var(--input-background) !important;
	color: var(--input-color);
}

textarea {
	padding: 0px;
	font-size: medium;
	background-color: var(--input-background);
	color: var(--input-color);
	border: 1px solid var(--input-color);
	
}

button {
	color: var(--accent-contrast);
	background: var(--accent-color);
	border: 1px solid var(--accent-color);
	border-radius: 2px;
	font-size: 1em;
	text-align: center;
	margin: 3px;
	padding-left: 4px;
	padding-right: 4px;
	white-space: nowrap;
}

button:hover {
	background: var(--accent-alternative);
	border: 1px solid var(--accent-alternative);
}

.row {
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 0px;
}

label {
	padding-left: 4px;
	padding-right: 4px;
}

.column {
	display: flex;
	flex-direction: column;
}

.fill_width {
	width: 100%;
}

.noWrap {
	white-space: nowrap;
}

.paddedArea {
	padding: 4px;
	margin: 4px;
}

.optionBox {
	border: 1px solid grey;
	border-radius: 4px;
}

.buttonArea {
	display: flex;
	flex-direction: row;
	padding: 10px;
	padding-left: 16px;
	padding-right: 16px;
	justify-content: flex-end;
}

.inputArea {
	display: flex;
	flex-direction: row;
	vertical-align: middle;
}
/* toolbars */

.toolbar {
	display: flex;
	flex-direction: row;
	background: var(--toolbar-background);
	color: var(--toolbar-color);
	fill: var(--toolbar-color);
	stroke: var(--toolbar-color);
	padding-bottom: 0px;
	padding-top: 0px;
	padding-left: 4px;
	padding-right: 4px;
	justify-content: flex-start;
	border-top: 1px solid var(--normal-background);
}

.toolbar button {
	padding: 5px;
	background: inherit;
	border: none;
	outline: none;
	color: inherit;
	fill: inherit;
	stroke: inherit;
	text-align: left;
	font-size: 0.8em;
	vertical-align: middle;
	box-shadow: none;
}

.toolbar button img {
	padding: 4px;
}

.toolbar a {
	color: inherit;
	fill: inherit;
	stroke: inherit;
	margin-left: 2px;
	margin-right: 2px;
}

.toolbar a:hover {
	text-decoration: none !important;
}

.toolbar a img {
	padding-top: 4px;
}

.toolbar a svg {
	padding-top: 4px;
	fill: var(--toolbar-color);
	stroke: var(--toolbar-color);
}

svg {
	fill: var(--normal-color);
	stroke: var(--normal-color);
}

/* tabs */

.tabHolder {
	display: flex;
	flex-flow: row;
	color: var(--normal-color);
	background: var(--tabHolder-background);
	padding: 2px 0px 0px 8px;
}

.tab {
	overflow: hidden;
	background: var(--tab-background);
	color: var(--tab-color);
	fill: var(--tab-highlight);
	stroke: var(--tab-highlight);
	padding-top: 4px;
	padding-left: 6px;
	padding-right: 6px;
	margin: 0px;
	margin-right: 1px !important;
	box-shadow: none !important;
	border-bottom: 3px solid var(--tab-background);
	text-decoration: none !important;
}

.selectedTab {
	border-bottom: 3px solid var(--tab-highlight);
}

.tab:hover {
	background: var(--tab-hover);
	border-bottom: 3px solid var(--tab-hover);
}

.selectedTab:hover {
	border-bottom: 3px solid var(--tab-highlight) !important;
}

.tab a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

.tab a:hover {
	background: var(--tab-hover);
}

.tabContent {
	display: block;
}

.hiddenTab {
	display: none;
}

.panel {
	z-index: 5;
	display: block;
	overflow-y: scroll;
}

.titlepanel {
	padding-top: 0px;
	display: flex;
	width: 100%;
	background: var(--accent-color);
	color: var(--normal-color);
	white-space: nowrap;
}

.titlepanel a:hover {
	background: var(--accent-alternative);
}

.panelcontent {
	z-index: -20;
	display: block;
	width: 100%;
	overflow-y: auto;
	overflow-x: auto;
}

.panelcontent table {
	z-index: -30;
}

/* tooltips */

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	background-color: var(--tooltip-background);
	color: var(--tooltip-color);

	visibility: hidden;
	padding: 4px;
	border-radius: 2px;
	white-space: nowrap;

	/* Position the tooltip */
	position: absolute;
	z-index: 100;
}

.topTooltip {
	bottom: 120%;
	left: 20px;
}

.bottomTooltip {
	top: 120%;
	left: 20px;
}

.bottomRightTooltip {
	top: 120%;
	right: 20px;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

.highlight {
	color: var(--highlight-color);
}

.active {
	background: var(--highlight-color);
}

.bordered {
	border: 1px solid var(--normal-color) !important;
}

.error {
	color: var(--error-color) !important;
}

.divContainer {  /* Any container that needs to scroll content */
    width: 100%;
    height: 100%;
    overflow: auto;
}
