:root {
	--darker-background: #002050;
	--dark-background: #124078;
	--dark-color: #fefefe;
	--light-background: #3c65a4;
	--lighter-background: #7da3c6;
	--soft-background: #666666;
	--normal-background: #efefef;
	--normal-color: #111111;
	--even-row-background: #efefef;
	--odd-row-background: #fefefe;
	--highlight-color: #ecf01b;
	--shadow-color: #eeeeee;
	--input-background: #ffffff;
}

body {
	background: var(--normal-background);
	color: var(--normal-color)
}

.dark_background {
	background: var(--dark-background);
	color: var(--dark-color);
}

.hdivider {
	background: var(--darker-background);
	width: 2px;
	height: 100%;
	position: relative;
	cursor: col-resize;
	display: block;
}

.vdivider {
	background: var(--darker-background);
	width: 100%;
	height: 2px;
	position: relative;
	cursor: row-resize;
	display: block;
}

.wait {
	cursor: wait !important;
}

header {
	background: var(--dark-color);
	color: var(--dark-color);
	border-bottom: solid 2px var(--darker-background);
}

footer {
	background: var(--soft-background);
	color: var(--dark-color);
	border-top: 2px solid var(--darker-background);
}

.status {
	position: absolute;
	top: 200px;
	left: calc(40% - 100px);
	width: 200px;
	margin: auto;
	background-color: var(--dark-background);
	color: var(--dark-color);
	padding: 20px;
	border: 1px solid var(--dark-color);
}

table {
	width: 100%;
	border-collapse: collapse;
}

a {
	color: var(--light-background);
}

a img {
	padding-right: 4px;
	padding-left: 4px;
}

a:hover {
	background: #cccccc;
}

thead {
	height: 24px;
}

tbody {
	overflow-y: scroll;
	overflow-x: scroll;
}

td {
	padding: 4px;
	vertical-align: top;
	font-size: medium;
}

td.fixed {
	text-align: center;
	vertical-align: middle;
	background: var(--lighter-background);
	color: var(--normal-color);
	cursor: default !important;
}

table th {
	position: sticky;
	top: 0;
	z-index: 5;
	font-weight: lighter;
}

table.stripes tr:nth-child(odd) {
	background-color: var(--odd-row-background) !important;
}

table.stripes tr:nth-child(even) {
	background-color: var(--even-row-background) !important;
}

textarea {
	padding: 0px;
	font-size: medium;
	background-color: var(--normal-background);
	color: var(--normal-color);
}

.fixed {
	width: 1px;
	text-align: center;
}

.highlighted {
	color: var(--highlight-color);
	background: var(--soft-background);
}

.right {
	float: right;
}

.hidden {
	display: none;
}

.center {
	text-align: center;
}

input[type=text] {
	margin-top: 3px;
	height: 1.4rem;
	font-size: 1rem;
	border: 1px solid var(--dark-background);
	background-color: var(--input-background);
	color: var(--normal-color);
}

input[type=text]:focus {
	border: 1px solid transparent;
}

input[type=password] {
	margin-top: 3px;
	height: 1.4rem;
	font-size: 1rem;
	border: 1px solid var(--dark-background);
	background-color: var(--input-background);
	color: var(--normal-color);
}

input[type=number] {
	font-size: 0.8em;
	width: 40px;
	height: 18px;
	margin: 0px;
	padding: 0px;
	padding-left: 2px;
	background-color: var(--input-background);
	border: 1px solid var(--dark-background);
	color: var(--normal-color);
}

input[type=number]:focus {
	border: 1px solid transparent;
}

input[type=checkbox] {
	position: relative;
}

input[type=checkbox]:before {
	content: "";
	display: block;
	position: absolute;
	width: 12px;
	height: 12px;
	top: -2px;
	left: 0;
	border: 1px solid var(--dark-background);
	background-color: var(--input-background);
}

input[type=checkbox]:checked:after {
	content: "";
	display: block;
	width: 4px;
	height: 8px;
	border: solid var(--normal-color);
	border-width: 0 1px 1px 0;
	transform: rotate(45deg);
	position: absolute;
	top: 0px;
	left: 5px;
}

button {
	color: var(--dark-color);
	background: var(--dark-background);
	border: 1px solid var(--dark-background);
	border-radius: 2px;
	font-size: 1em;
	text-align: center;
	margin: 3px;
	padding-left: 4px;
	padding-right: 4px;
	box-shadow: 2px 2px 1px 2px var(--shadow-color);
	white-space: nowrap;
}

button:hover {
	background: var(--darker-background);
	border: 1px solid var(--darker-background);
}

.row {
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 3px;
	padding-bottom: 0px;
}

select {
	font-size: 1em;
	height: 1.6em;
	border-radius: 0px;
	background-color: var(--input-background) !important;
	color: var(--normal-color);
}

option {
	font-size: 1em;
	background-color: var(--normal-background) !important;
	color: var(--normal-color);
}

label {
	padding-left: 4px;
	padding-right: 4px;
}

.column {
	display: flex;
	flex-direction: column;
}

.fill_width {
	width: 100%;
}

.noWrap {
	white-space: nowrap;
}

.paddedArea {
	padding: 4px;
	margin: 4px;
}

.optionBox {
	border: 1px solid grey;
	border-radius: 4px;
}

.buttonArea {
	display: flex;
	flex-direction: row;
	padding: 10px;
	padding-left: 16px;
	padding-right: 16px;
	justify-content: flex-end;
}

.toolbar {
	display: flex;
	flex-direction: row;
	background: var(--light-background);
	color: var(--dark-color);
	padding: 0px;
	padding-left: 5px;
	padding-right: 5px;
	justify-content: flex-start;
}

.toolbar button {
	padding: 5px;
	background: inherit;
	border: none;
	outline: none;
	color: inherit;
	text-align: left;
	font-size: 0.8em;
	vertical-align: middle;
	box-shadow: none;
}

.toolbar button img {
	padding: 5px;
}

button.toolbar:hover {
	background: #455a64;
}

.tabHolder {
	display: flex;
	flex-flow: row;
	color: var(--normal-color);
	background: var(--normal-background);
	padding: 0px 0px 0px 8px;
	border-bottom: 1px solid var(--light-background);
}

.tab {
	overflow: hidden;
	background: var(--lighter-background);
	padding-top: 8px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 4px 4px 0px 0px;
	margin-right: 1px;
}

.tab:hover {
	background: var(--darker-background);
	color: var(--dark-color);
}

.tab a {
	color: var(--dark-color);
	text-decoration: none;
	cursor: pointer;
}

.tab a:hover {
	background: var(--darker-background);
	color: var(--dark-color);
}

.selected {
	background: var(--light-background);
	color: var(--dark-color);
}

.selected a {
	color: var(--dark-color) !important;
}

.tabContent {
	display: block;
}

.hiddenTab {
	display: none;
}

.panel {
	z-index: 5;
	display: block;
	overflow-y: scroll;
}

.titlepanel {
	padding-top:0px; display:flex; 
	width:100%; 
	background: var(--dark-background); 
	color: var(--dark-color);
	white-space: nowrap;
}

.titlepanel a:hover {
	background: var(--darker-background); 
}

.panelcontent {
	z-index: -20;
	display: block;
	width: 100%;
	overflow-y: auto;
	overflow-x: auto;
}

.panelcontent table {
	z-index: -30;
}

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	background-color: var(--light-background);
	border-color: var(--lighter-background);
	color: var(--dark-color);

	visibility: hidden;
	padding: 4px;
	border-radius: 2px;
	white-space: nowrap;

	/* Position the tooltip */
	position: absolute;
	z-index: 100;
}

.topTooltip {
	bottom: 120%;
	left: 20px;
}

.bottomTooltip {
	top: 120%;
	left: 20px;
}

.bottomRightTooltip {
	top: 120%;
	right: 20px;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

.highlight {
	color: var(--highlight-color);
}

.active {
	background: var(--highlight-color);
}

.bordered {
	border: 1px solid var(--normal-color) !important;
}