:root {
    --black: #000000;
    --gray190: #1f1b1a;
    --gray160: #312c2b;
    --gray150: #393433;
    --gray130: #5e5857;
    --gray110: #898483;
    --gray90: #a29e9d;
    --gray60: #cbc6c4;
    --gray50: #d8d3d1;
    --gray40: #e6e1df;
    --gray30: #f2ede8;
    --gray20: #f7f4ef;
    --gray10: #fcf9f4;
    --white: #ffffff;
}