:root {
    --black: hsl(0, 0%, 0%);
    --gray190: hsl(30, 3%, 12%);
    --gray160: hsl(30, 2%, 19%);
    --gray150: hsl(30, 2%, 23%);
    --gray130: hsl(30, 2%, 37%);
    --gray110: hsl(30, 2%, 53%);
    --gray90: hsl(30, 2%, 62%);
    --gray60: hsl(30, 4%, 78%);
    --gray50: hsl(30, 4%, 82%);
    --gray40: hsl(30, 6%, 87%);
    --gray30: hsl(30, 10%, 92%);
    --gray20: hsl(30, 8%, 95%);
    --gray10: hsl(30, 17%, 98%);
    --white: hsl(0, 0%, 100%);
}