:root {
    --ClassicBlue100: #04355f;
    --ClassicBlue90: #0F4C81;
    --ClassicBlue80: #2066A3;
    --ClassicBlue70: #3682c5;
    --ClassicBlue60: #51a1e7;
    --ClassicBlue50: #6DBBFF;
    --ClassicBlue40: #8ECAFF;
    --ClassicBlue30: #AFDAFF;
    --ClassicBlue20: #CFE9FF;
    --ClassicBlue10: #F0F8FF;
}