.DS_Store
package-lock.json
/out/
/bin/
/conf/
/dist/
/include/
/legal/
/lib/
/js/
/release
/node_modules/
/xcf/
/Swordfish-darwin-x64/
/Swordfish-win32-x64/
/Swordfish-linux-x64/
sonarqube.sh
.scannerwork
build_mac.sh